@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited, a:active {
  color: white; 
}

ul {
  list-style-type: none;
}

html {
  font-size: 3.5vw;
  font-family: 'Inter', sans-serif;
  background-color: #0f0f0f;
  color: white;
}

.container {
  min-width: 320px;
  width: 100%;
}

header {
  width: 100%;
}

.header-top {
  padding: 1.0em 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
}

.search-button {
  width: 4.5vw;
  background: none;
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 100%;
}

.login-button {
  background-color: rgb(82, 169, 255);
  color: white;
  border: none;
  padding: 0.5em 1.0em;
  cursor: pointer;
  font-size: 1.0em;
  margin-left: 1.0em;
}

nav {
  background-color: #222222;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-list {
  display: flex;
}

.nav-list a {
  display: block;
  padding: 1.0em;
  color: lightgray;
  text-decoration: none;
  font-weight: 600;
}

.nav-list a:hover {
  color: rgb(82, 169, 255);
  cursor: pointer;
}

.heading-section {
  padding: 2.0em 1.5em;
  width: 100%;
}

article {
  width: 100%;
}

.heading-image {
  width: 100%;
  height: auto;
}

.heading-section h1 {
  font-size: 2.0rem;
  padding: 0.5em 0;
}

article:hover h1
 {
  color: rgb(82, 169, 255);
  cursor: pointer;
}

.category-date {
  display: flex;
  font-size: 0.9rem;
}

.category {
  font-weight: 600;
  padding-right: 1em;
  border-right: 1px solid rgb(56, 56, 56);
}

.date {
  padding-left: 1em;
  color: lightgray;
}

.content {
  color: gray;
  font-size: 0.9rem;
  padding: 1.0em 0;
  line-height: 150%;
}

.top-news-section {
  width: 100%;
  padding: 2.0em 1.5em;
}

.news-list-title {
  text-align: center;
  position: relative;
}

.news-list-title::before,
.news-list-title::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 0.15em;
  background-color: rgb(82, 169, 255);
}

.top-news-section .news-list-title::before,
.top-news-section .news-list-title::after {
  width: 35%;
}

.news-list-title::before {
  left: 0;
}

.news-list-title::after {
  right: 0;
}

.top-news-section h1,
.recommended-news-section h1 {
  font-size: 1.07rem;
  font-weight: 600;
  line-height: 130%;
}

.top-news-section .category-date,
.recommended-news-section .category-date {
  font-size: 0.8rem;
  padding-top: 0.8em;
}

.top-news-section article {
  padding: 1.0em 0;
  border-bottom: 1px solid rgb(56, 56, 56);
}

.top-news-section article:last-child {
  border-bottom: none;
}

.recommended-news-section {
  background-color: #222222;
  padding: 2.0em 1.5em;
}

.recommended-news-section .news-list-title::before,
.recommended-news-section .news-list-title::after {
  width: 22%;
}

.recommended-news-section article {
  padding: 1.0em 0;
  display: flex;
  justify-content: space-between;
}

.recommended-news-section img {
  width: 28%;
}

.text-box {
  width: 68%;
}

@media screen and (min-width: 768px){
  html {
    font-size: 2.9vw;
  }
}

@media screen and (min-width: 1024px){
  html {
    font-size: 1.5vw;
  }
  
  .container {
    padding: 0 2.5em;
  }

  .header-top {
    padding: 1em 0;
  }

  .logo {
    font-size: 1.3rem;
  }

  .search-button {
    width: 2vw;
  }

  .login-button {
    font-size: 0.8em;
    margin-left: 1.5em;
  }

  .nav-list a {
    font-size: 0.8em;
  }

  main {
    padding: 3.0em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .heading-section {
    padding: 0;
    width: 57%;
  }
  
  .heading-section article {
    position: relative;
    overflow: hidden;
  }
  
  .heading-image {
    display: block;
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0f0f0f 45%, transparent 100%);
    pointer-events: none;
  }

  .text-overlay {
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }
  
  .heading-section h1 {
    font-size: 1.8rem;
    padding: 0.7em 0;
  }
  
  .heading-section .category-date {
    font-size: 0.6rem;
  }
  
  .content {
    width: 70%;
    font-size: 0.65rem;
    padding: 1.2em 0;
  }

  .top-news-section {
    width: 38%;
    padding: 0;
  }

  .top-news-section h1,
  .recommended-news-section h1 {
    font-size: 0.8rem;
  }

  .recommended-news-section {
    margin-top: 3em;
  }

  .recommended-news-section .news-list-title::before,
  .recommended-news-section .news-list-title::after {
    width: 40%;
  }

  .recommended-news-articles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .recommended-news-articles article {
    width: 30%;
  }

  .top-news-section .category-date,
  .recommended-news-articles .category-date {
    font-size: 0.6rem;
  }
}